@model IEnumerable<QuestionViewModel>

@{
    ViewData["Title"] = "Liste des questions";
    string montitre = "diponible dans la base";
    Layout = "_Layout";
}
<h2>Liste des questions @montitre</h2>

@using (Html.BeginForm("List", "Question", FormMethod.Post))
{
<table>
    <tr>
        <th>Type</th>
        <th>Difficulté</th>
        <th>Contenu</th>

    </tr>
   

    @foreach (var questionVM in Model)
    {
        <tr>
            <td>
                @questionVM.TypeName
            </td>
            <td>
                @questionVM.DifficultyLevel
            </td>
            <td>
                @questionVM.Content
            </td>
            <td>@Html.ActionLink("Supprimer", "ConfirmDeleteOrNo", new { type = "button", @class = "btn btn-link", questionId = questionVM.Id })</td>
            <td>@Html.ActionLink("Modifier", "Edit", new { type = "button", @class = "btn btn-link", questionId = questionVM.Id })</td>
        </tr>

    }
    <tr>@Html.ActionLink("Créer une question", "Create", "Question", null, new { type = "button", @class = "btn btn-primary" })</tr>
</table>
}


