@model CreateSurveyViewModel

@{
    ViewData["Title"] = "Creation";
}

<form>

    <div class="form-group row">
        <div class="form-group row">
            <div>@Html.LabelFor(model => model.TypeId, new { @class = "col-sm-2 col-form-label" })</div>
            <div>@Html.DropDownListFor(model => model.TypeId, Model.QuestionTypes, new { @class = "form-control" })</div>
        </div>
        <div class="form-group row">
            <div>@Html.LabelFor(model => model.CategoryId, new { @class = "col-sm-2 col-form-label" })</div>
            <div>
                @Html.DropDownListFor(model => model.CategoryId, Model.Categories, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group row">
            <div>@Html.LabelFor(model => model.DifficultyId, new { @class = "col-sm-2 col-form-label" })</div>
            <div>@Html.DropDownListFor(model => model.DifficultyId, Model.Difficulties, new { @class = "form-control" })</div>
        </div>
        <input type="submit" name="filter" value="Filtrer"
               formaction="FilterQuestions" formmethod="post" />
        @*<button id="surveyFilterId" data-url="@Url.Action("FilterQuestions", "Survey")">Filtrer</button>*@
    </div>

    <div>
        @Html.EditorFor(m => m.SurveySelectedQuestions)
        @*<ul>
                @foreach(var question in Model.QuestionViewModels)
            {
                <li>
                    @Html.RenderPartial("SurveyQuestion", question)
                </li>
            }
            </ul>*@
    </div>
    <input type="submit" name="create" value="Creer"
           formaction="Create" formmethod="post" />
</form>
